@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    position: relative;
    z-index: -100;
}


/* main header */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(../images/welcomeroom2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

nav {
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 0.493);
}

#menu-btn {
    display: none;
    font-size: larger;
    margin-top: 5%;
    margin-left: 10%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.656);
    cursor: pointer;
}

#toggle {
    display: none;
}

.links ul li,
.links ul li a {
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 0.2em;
    margin: 0 0.2em;
    color: rgba(255, 255, 255, 0.801);
    font-weight: 300;
    font-size: large;
    letter-spacing: 0.5px;
    transition: 0.8s;
}

.links ul li a:hover {
    color: rgb(222, 184, 135);
}

header>div {
    position: relative;
    padding: 3% 0;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}

.main_header>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_header p {
    font-size: 20px;
    letter-spacing: 0.5px;
}

.main_header h1 {
    font-size: 40px;
}

.main_header button {
    border: none;
    border-radius: 35px;
    padding: 0.4em 0.6em;
    font-size: large;
    margin: 0.3em;
    transition-duration: 0.5s;
    cursor: pointer;
}

#this {
    display: inline-flex;
    align-items: center;
}

.main_header button:hover {
    transform: scale(0.8);
}


/* .main_header button#this {
    display: inline-flex;
    background-color: red;
} */


/* logo */

.feel {
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
}

.main_feel {
    color: white;
}

.main_home {
    color: black;
}

.home {
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
}


/* menu-btn */

#menu-btn ion-icon {
    font-size: 40px;
    background-color: rgba(0, 0, 139, 0.872);
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
}

#whatsapp-logo:hover {
    cursor: pointer;
    animation-play-state: paused;
}

#whatsapp-logo {
    position: fixed;
    top: 73%;
    right: 1%;
    color: green;
    font-size: 50px;
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.609);
    animation: paarich 1s linear 0s infinite both;
    animation-direction: alternate-reverse;
    z-index: 100;
}

@keyframes paarich {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.7);
    }
}


/* about us */

.section_1 {
    background-color: rgba(222, 184, 135, 0.74);
    padding: 2em 0;
}

.section_1 .service {
    max-width: 90%;
    margin: 0 auto;
}

.section_1 .service>div {
    display: flex;
    gap: 1em;
    margin: 3em 0;
}

.section_1 .service_text {
    flex-basis: 45%;
    margin: auto;
    text-align: center;
}

.section_1 .service .service_img {
    flex-basis: 45%;
    margin: auto;
}

.section_1 .service .service_img img {
    width: 450px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.section_1 .service h2,
.section_1 .service h3 {
    text-align: center;
}

.section_1 .service p {
    font-size: large;
    line-height: 30px;
}

.section_1 .service .service_text button {
    padding: 0.4em 0.6em;
    border: none;
    border: 0px solid white;
    font-size: large;
    border-radius: 35px;
    margin: 1em 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

#for_service {
    display: inline-flex;
    align-items: center;
}

.section_1 .service .service_text button:hover {
    transform: scale(0.8);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.822);
}


/* SERVICES */

.section_2 {
    background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301)), url(./../images/livingroom3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.section_2>div {
    padding: 2em 0;
}

.section_2 div h2 {
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
}

.section_2 .main .text {
    flex-basis: 40%;
    text-align: center;
    margin: auto;
}

.section_2 .main .text p {
    font-size: large;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    line-height: 30px;
}

.section_2 .main .text h3 {
    font-size: 25px;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.section_2 .main .forms {
    flex-basis: 40%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 70px;
    font-size: large;
}

.section_2 .main .forms table {
    margin: 0 auto;
}

.section_2 .main .forms table tbody tr td {
    padding: 10px 0;
    margin: 10px 0;
}

.section_2 .main .forms input:not(input[type="submit"]) {
    padding: 0.5em;
    border: none;
    border-radius: 35px;
    margin-left: 0.5em;
    font-size: 15px;
}

.section_2 .main .forms select {
    padding: 0.5em;
    font-size: 15px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

option {
    background-color: rgba(222, 184, 135, 0.555);
}

.section_2 .main .forms select:focus {
    outline: none;
}

.section_2 .main .forms input:focus {
    outline: none;
    border: none;
}

.section_2 .main .forms input[type="submit"] {
    padding: 0.5em;
    border: none;
    border-radius: 35px;
    font-size: 15px;
    cursor: pointer;
}

.section_2 div {
    max-width: 90%;
    margin: auto;
}

.main {
    display: flex;
    color: rgba(255, 255, 255, 0.87);
}


/* rates us */

.section_3 {
    background-color: rgba(222, 184, 135, 0.534);
}

.rate_container {
    max-width: 90%;
    margin: auto;
    padding: 2.5em 0;
}

.price-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.prices {
    display: flex;
    align-items: center;
}

.rate_container h2 {
    text-align: center;
}

.img_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(33%, 1fr));
    gap: 2%;
    margin: 3em 0;
    padding: 2em;
}

.img_container div img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin-bottom: 1em;
}

.img_1,
.img_2,
.img_3 {
    flex-basis: 25%;
    padding: 1.5em 1em 4em 1em;
    border-radius: 25px;
    transition-duration: 0.5s;
    border: 2px solid white;
}

.img_1 select,
.img_2 select,
.img_3 select {
    outline: none;
    cursor: pointer;
    margin-left: 5px;
    padding: 2px;
    border: none;
    border-radius: 3px;
}

.img_1 option,
.img_2 option,
.img_3 option {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.img_1:hover,
.img_2:hover,
.img_3:hover {
    transform: translateY(5px);
    background-color: rgba(255, 255, 255, 0.924);
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.603);
}

.img_1 h4,
.img_2 h4,
.img_3 h4 {
    margin: 0.3em 0;
    font-size: larger;
    text-align: center;
}

.img_1 ul li,
.img_2 ul li,
.img_3 ul li {
    list-style: none;
    padding: 0 1px;
}

.img_1 ul,
.img_2 ul,
.img_3 ul {
    margin: 0 2px;
}

.fi~li {
    display: none;
}

.ra {
    display: flex;
    align-items: center;
    margin: 0 2em;
}

.ra ion-icon {
    color: gold;
    font-size: 20px;
    transition-duration: 0.5s;
    cursor: pointer;
    padding: 0 2px;
}

.ra ion-icon:hover {
    transform: scale(1.3);
}


/* footer */

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.609)), url(./../images/welcomeroom2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.897);
    padding: 3em 0;
}

footer h2 {
    word-spacing: 0.3em;
    letter-spacing: 2px;
    padding: 0.5em;
    margin: 0.5em;
}

footer p {
    font-stretch: narrower;
    word-spacing: 0.5px;
    letter-spacing: 1px;
}

footer div {
    max-width: 90%;
    margin: auto;
    text-align: center;
}

.icons {
    padding: 1em;
}

.icons ion-icon {
    padding: 0.3em;
    font-size: 25px;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

.icons ion-icon:hover {
    transform: rotate(90deg);
}


/* body::after being change to top */

.top {
    position: fixed;
    top: 85%;
    right: 1%;
    border-radius: 20px;
    border: none;
    display: none;
    padding: 10px;
    color: black;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    box-shadow: -1px 1px 15px 2px rgba(0, 0, 0, 0.843);
}

body:hover::after {
    transform: translate(1.1);
}


/* MEDIA QUERIES */

@media only screen and (max-width:980) {
    /* body {
        display: none;
    } */
    .price-rate {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 5px 0;
    }
    .prices {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width:768px) {
    /* main header */
    /* about us */
    /* body {
        display: none;
    } */
    #menu-btn {
        display: block;
    }
    header>div {
        position: relative;
        max-width: 100%;
        height: 100%;
    }
    .logo {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #toggle {
        display: block;
        font-weight: bolder;
        margin-left: 70px;
        border: 2px solid black;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.867);
        padding: 5px;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 0%;
        left: -100%;
        width: 245px;
        height: 100%;
        border-radius: 5px;
        padding: 1em;
        background-color: rgba(0, 0, 0, 0.776);
        z-index: 100;
    }
    .links ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .links ul li {
        width: 100%;
        border: none;
        margin: 20px 0;
        display: block;
    }
    #whatsapp-logo {
        position: fixed;
        right: 1%;
        top: 73%;
    }
    .section_1 .service .service_img img {
        width: 450px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    .section_1 .service>div {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 3em;
    }
    /* services */
    .main {
        display: grid;
        grid-template-columns: 1fr;
    }
    /* rate us */
    .img_container {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 2.5em;
    }
    .rate_container {
        max-width: 80%;
        margin: auto;
        padding: 2.5em 0;
    }
    .price-rate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
    }
    .prices {
        display: flex;
        align-items: center;
    }
    .ra {
        margin: 1em 0;
    }
}

@media only screen and (max-width:480px) {
    /* body {
        display: none;
    } */
    #menu-btn {
        display: block;
    }
    header>div {
        position: relative;
        max-width: 100%;
        height: 100%;
    }
    .logo {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #toggle {
        display: block;
        font-weight: bolder;
        margin-left: 70px;
        border: 2px solid black;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.867);
        padding: 5px;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 0%;
        left: -100%;
        width: 245px;
        height: 100%;
        border-radius: 5px;
        padding: 1em;
        background-color: rgba(0, 0, 0, 0.776);
        z-index: 100;
    }
    .main_header div {
        width: 70%;
        text-align: left;
    }
    .links ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .links ul li {
        width: 100%;
        border: none;
        margin: 20px 0;
        display: block;
    }
    #whatsapp-logo {
        position: fixed;
        right: 1%;
        top: 73%;
    }
    .section_1 .service .service_img img {
        width: 300px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    .section_1 .service>div {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 3em;
    }
    /*this code is prone to changing*/
    .section_2 .main .forms input:not(input[type="submit"]) {
        padding: 0.3em;
        border: none;
        border-radius: 35px;
        margin-left: 0;
        font-size: small;
    }
    .section_2 .main .forms select {
        padding: 0.3em;
        font-size: small;
        border: none;
        border-radius: 35px;
        cursor: pointer;
    }
    .section_2 .main .forms input[type="submit"] {
        padding: 0.3em;
        border: none;
        border-radius: 35px;
        font-size: small;
        cursor: pointer;
    }
    .section_2 .main .forms {
        max-width: 95%;
        /* flex-basis: 50%; */
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1.5em;
        border-radius: 70px;
        font-size: 15px;
    }
    /* services */
    .main {
        display: grid;
        grid-template-columns: 1fr;
    }
    */
    /* rate us */
    .img_container {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 2.5em;
    }
    .rate_container {
        max-width: 80%;
        margin: auto;
        padding: 2.5em 0;
    }
    .price-rate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
    }
    .prices {
        display: flex;
        align-items: center;
    }
    .ra {
        margin: 1em 0;
    }
}
